apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "backend.fullname" . }}-config
  labels:
    {{- include "backend.labels" . | nindent 4 }}
data:
  DATABASE_URL: {{ .Values.env.DATABASE_URL | quote }}
  MINIO_ENDPOINT: {{ .Values.env.MINIO_ENDPOINT | quote }}
  MINIO_PUBLIC_ENDPOINT: {{ .Values.env.MINIO_PUBLIC_ENDPOINT | quote }}
  MINIO_BUCKET: {{ .Values.env.MINIO_BUCKET | quote }}
