apiVersion: v1
kind: Secret
metadata:
  name: {{ include "backend.fullname" . }}-secret
  labels:
    {{- include "backend.labels" . | nindent 4 }}
type: Opaque
stringData:
  SECRET_KEY: {{ .Values.secret.SECRET_KEY | quote }}
  ACCESS_TOKEN_EXPIRE_MINUTES: {{ .Values.secret.ACCESS_TOKEN_EXPIRE_MINUTES | quote }}
  MINIO_ACCESS_KEY: {{ .Values.secret.MINIO_ACCESS_KEY | quote }}
  MINIO_SECRET_KEY: {{ .Values.secret.MINIO_SECRET_KEY | quote }}
